car_sales/src/main/resources/schema/itemService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><xs:schema xmlns:tns="http://ws.shaplov.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.shaplov.ru/">

    <xs:element name="getItemRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getItemResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" type="tns:item"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getItemsRequest">
    </xs:element>

    <xs:element name="getItemsResponse" final="#all">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

<xs:element name="item" type="tns:item"/>

<xs:complexType name="item">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="picture" type="xs:string" minOccurs="0"/>
<xs:element name="sold" type="xs:boolean"/>
<xs:element name="created" type="xs:dateTime" minOccurs="0"/>
<xs:element name="user" type="tns:carUser" minOccurs="0"/>
<xs:element name="brand" type="tns:brand" minOccurs="0"/>
<xs:element name="model" type="tns:model" minOccurs="0"/>
<xs:element name="body" type="tns:bodyType" minOccurs="0"/>
<xs:element name="engine" type="tns:engineType" minOccurs="0"/>
<xs:element name="drive" type="tns:driveType" minOccurs="0"/>
<xs:element name="trans" type="tns:transType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="carUser">
<xs:sequence>
<xs:element name="created" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="tel" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brand">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="model">
<xs:sequence>
<xs:element name="brand" type="tns:brand" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bodyType">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="engineType">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driveType">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transType">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:item" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
</xs:sequence>
</xs:complexType>
</xs:schema>