ws/src/main/resources/wsdl/userService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.shaplov.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.shaplov.ru/" name="UserWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.shaplov.ru/" schemaLocation="http://localhost:8080/car_sales/ws/userService?xsd=1"/>
</xsd:schema>
</types>
<message name="save">
<part name="arg0" type="tns:carUser"/>
</message>
<message name="saveResponse">
<part name="return" type="tns:carUser"/>
</message>
<message name="findByLogin">
<part name="arg0" type="xsd:string"/>
</message>
<message name="findByLoginResponse">
<part name="return" type="tns:carUser"/>
</message>
<message name="authUser">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="authUserResponse">
<part name="return" type="tns:carUser"/>
</message>
<portType name="UserWebService">
<operation name="save">
<input wsam:Action="http://ws.shaplov.ru/UserWebService/saveRequest" message="tns:save"/>
<output wsam:Action="http://ws.shaplov.ru/UserWebService/saveResponse" message="tns:saveResponse"/>
</operation>
<operation name="findByLogin">
<input wsam:Action="http://ws.shaplov.ru/UserWebService/findByLoginRequest" message="tns:findByLogin"/>
<output wsam:Action="http://ws.shaplov.ru/UserWebService/findByLoginResponse" message="tns:findByLoginResponse"/>
</operation>
<operation name="authUser" parameterOrder="arg0 arg1">
<input wsam:Action="http://ws.shaplov.ru/UserWebService/authUserRequest" message="tns:authUser"/>
<output wsam:Action="http://ws.shaplov.ru/UserWebService/authUserResponse" message="tns:authUserResponse"/>
</operation>
</portType>
<binding name="UserWebServicePortBinding" type="tns:UserWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="save">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.shaplov.ru/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.shaplov.ru/"/>
</output>
</operation>
<operation name="findByLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.shaplov.ru/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.shaplov.ru/"/>
</output>
</operation>
<operation name="authUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.shaplov.ru/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.shaplov.ru/"/>
</output>
</operation>
</binding>
<service name="UserWebServiceService">
<port name="UserWebServicePort" binding="tns:UserWebServicePortBinding">
<soap:address location="http://localhost:8080/car_sales/ws/userService"/>
</port>
</service>
</definitions>